
.card{
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
    border-style:double;
}

.button{
    opacity: 7;
    border-radius: 6px;
    background-color: chartreuse;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:large;
    font-style:oblique ;
    border-style:groove;

    padding-left: 20px;
    padding-right: 20px;

    height: 30px;

    width: 80%;

}

.title{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: italic;
    font-size: large;
    background-color:rgb(236, 240, 240);
    padding: 5%;
    border-radius: 6%;

    width: 150px;
}

.subtitle{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.divimage{
    display: flex;
    flex-direction: column;
    border-radius: 60px;
    align-items: center;
    margin: 20px;
}
.info{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.image{

    border-radius: 16px;

}
