
.searchBar{
  
    width: fit-content;

}

.button{
    border-radius: 7px;
    margin: 20px;
    height: 30px;
    width: 150px;
    font-size: 100%;
    font-style: oblique;
}

.input{
    border-radius: 7px;
    background-color: bisque;
    height: 30px;
    width: 300px;
    font-size:100%;
    
}