
.cards{
    background-image:repeating-linear-gradient(rgb(42, 6, 248), rgb(0, 174, 255), rgb(3, 247, 3));
    /* padding: 10px; */
    opacity: .9;
    margin-left: 0%;   
    margin-right: 0%;
    display: grid;
    grid-template-columns: auto auto auto;
    
    border-radius: 20px;
}